.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.5rem;

  padding: 0 10rem;
  color: #445964;
  background: #4459646b;

  h2 {
    display: flex;
    font-size: 2.2rem;
    margin: 0;

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #445964;
    margin: 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.1s linear;
    transform: translateZ(0);

    &:hover {
      transform: scale(1.05);
    }
  }
}
