.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.5rem;

  padding: 0 10rem;
  color: #445964;
  background: #4459646b;

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 768px) {
      z-index: 1000;
      position: fixed;
      top: 0;
      right: -70vw;

      width: 70vw;
      min-height: 100vh;
      height: 100vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background: white;
      box-shadow: 0 4px 20px #445964;
      transition: all ease 0.3s;

      &--open {
        right: 0;
      }

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: #445964;
        margin: 1rem;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }

  h2 {
    display: flex;
    font-size: 2.2rem;
    margin: 0;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }

  .menus {
    a {
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;

      img {
        width: 2.5rem;
        cursor: pointer;
      }
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #445964;
    margin: 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.1s linear;
    transform: translateZ(0);

    &:hover {
      transform: scale(1.05);
    }
  }
}
