<div class="social">
  <a href="https://www.linkedin.com/in/henrique-rodrigues7/" target="_blank">
    <img src="assets/imgs/linkedin.svg" alt="Linkedin">
  </a>
  <a href="https://github.com/henrique945" target="_blank">
    <img src="assets/imgs/github.svg" alt="Github">
  </a>
  <a href="https://stackoverflow.com/users/11611128/henrique-rodrigues" target="_blank">
    <img src="assets/imgs/stackoverflow.svg" alt="Stackoverflow">
  </a>
  <a href="https://wa.me/5511971908333" target="_blank">
    <img src="assets/imgs/whatsapp.svg" alt="Whatsapp">
  </a>
</div>
