.contact {
  display: flex;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: calc(100% - 4rem);
    justify-content: center;
  }

  .left {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 2rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -3rem;
      width: 1px;
      height: 100%;
      background: var(--primary-color);
      opacity: 0.7;

      @media screen and (max-width: 768px) {
        top: unset;
        right: unset;
        bottom: -2rem;
        width: 100%;
        height: 1px;
      }
    }

    .profile {
      $profileSize: 10rem;

      width: $profileSize;
      height: $profileSize;
      border-radius: 50%;
      object-fit: cover;

      @media screen and (max-width: 768px) {
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;

      @media screen and (max-width: 768px) {
        padding-left: 1rem;
      }

      .social {
        margin-top: 2rem;

        @media screen and (max-width: 768px) {
          margin-top: 2rem;
        }

        img {
          margin-right: 1rem;
          height: 2rem;
        }
      }

      span {
        font-size: 1.3rem;
        margin-bottom: 0.75rem;
        color: var(--primary-color);

        @media screen and (max-width: 768px) {
          font-size: 1.1rem;
        }

        b {
          color: var(--secondary-color);
        }
      }
    }
  }

  .right {
    padding-left: 3rem;

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }

    h2 {
      color: var(--secondary-color);
      text-align: center;
    }

    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .graph {
      width: 350px;
      height: 250px;
    }

    strong {
      position: absolute;
      font-size: 3rem;
    }
  }
}
