<div class="modal-content modal-contact">
  <img (click)="closeModal()" class="close" src="assets/imgs/close.svg" alt="Close">

  <div class="contact">
    <div class="left">
      <img class="profile" src="assets/imgs/profile.png" alt="Henrique">
      <div class="info">
        <span><b>Name: <br></b> Henrique Rodrigues</span>
        <span><b>E-mail: <br></b> henrique.rodrigues7@hotmail.com</span>
        <span><b>Phone: <br></b> +55 11971908333</span>

        <app-social></app-social>
      </div>
    </div>
    <div class="right">
      <h2>Projects</h2>
      <div class="container">
        <div id="chart" class="graph" echarts [options]="charOption"></div>
        <strong>{{ projectsCount }}</strong>
      </div>
    </div>
  </div>
</div>
