<div class="modal-content modal-contact">
  <img (click)="closeModal()" class="close" src="assets/imgs/close.svg" alt="Close">

  <div class="contact">
    <div class="left">
      <img class="profile" src="assets/imgs/profile.png" alt="Henrique">
      <div class="info">
        <span><b>Name: <br></b> Henrique Rodrigues</span>
        <span><b>E-mail: <br></b> henrique.rodrigues7@hotmail.com</span>
        <span><b>Phone: <br></b> +55 11971908333</span>

        <div class="social">
          <a href="https://github.com/henrique945" target="_blank">
            <img src="assets/imgs/github.svg" alt="Github">
          </a>
          <a href="https://www.linkedin.com/in/henrique-rodrigues7/" target="_blank">
            <img src="assets/imgs/linkedin.svg" alt="Linkedin">
          </a>
          <a href="https://stackoverflow.com/users/11611128/henrique-rodrigues" target="_blank">
            <img src="assets/imgs/stackoverflow.svg" alt="Stackoverflow">
          </a>
          <a href="https://wa.me/5511971908333" target="_blank">
            <img src="assets/imgs/whatsapp.svg" alt="Whatsapp">
          </a>
        </div>
      </div>
    </div>
    <div class="right">
      <h2>Projects</h2>
      <div class="container">
        <div id="chart" class="graph" echarts [options]="charOption"></div>
        <strong>{{ projectsCount }}</strong>
      </div>
    </div>
  </div>
</div>
