.project-detail {
  position: relative;
  width: 100%;
  overflow: auto hidden;
  padding: 4rem 0 0;
  color: #445964;

  .header {
    display: flex;
    padding: 0 4rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 768px) {
      padding: 0 2rem;
      flex-direction: column;
    }

    img {
      height: 55vh;
      max-width: 50vw;
      border-radius: 10px;
      box-shadow: 0 4px 9px var(--primary-color);
      cursor: pointer;

      @media screen and (max-width: 768px) {
        height: 100%;
        max-width: 100%;
        cursor: none;
        pointer-events: none;
      }
    }

    .info {
      padding-left: 2rem;

      @media screen and (max-width: 768px) {
        padding-left: 0;
      }

      p {
        white-space: pre-wrap;
        font-size: 1.6rem;
      }
    }
  }

  .text {
    padding: 0 4rem;
    margin-bottom: 3rem;

    &--container {
      display: flex;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0 2rem;
    }

    .block {
      min-width: 10vw;
    }

    p {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      padding-right: 4rem;
    }

    .link {
      cursor: pointer;
      color: #445964;
      padding-left: 0.5rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .images {
    padding: 0 4rem;
    margin-bottom: 3rem;
    text-align: center;

    @media screen and (max-width: 768px) {
      padding: 0 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        height: 35vh;
        max-width: 30vw;
        border-radius: 10px;
        box-shadow: 0 4px 9px #445964;
        margin: 0.5rem;
        cursor: pointer;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          height: unset;
          max-width: 100%;
          cursor: none;
          pointer-events: none;
        }
      }
    }
  }

  .contact-me {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 75%;
      height: 1px;
      background: var(--primary-color);
    }

    p {
      margin-top: 3rem;
      font-size: 1.4rem;
      text-align: center;

      strong {
        text-decoration: underline;
      }
    }
  }
}
