<button (click)="topFunction()" id="toTopBtn" class="toTopButton">
  <img src="assets/imgs/arrow-up.svg" alt="Para o topo">
</button>

<div class="project-detail">
  <div class="header">
    <img (click)="openZoom(project.coverImage)" [src]="project.coverImage" alt="Cape">
    <div class="info">
      <h1>{{ project.name }}</h1>
      <p [innerHTML]="project.description"></p>
    </div>
  </div>

  <div class="text">
    <h2>Outcome</h2>
    <p>{{ project.outcome }}</p>

    <div class="text--container">
      <div>
        <h2>Development date</h2>
        <p>{{ project.developmentDate }}</p>
      </div>
      <div>
        <h2>Tags</h2>
        <p>{{ tags }}</p>
      </div>
      <div class="block">
        <h2>Main Techs</h2>
        <p>{{ techs }}</p>
      </div>
      <div>
        <h2>Links</h2>
        <p>
          <ng-container *ngFor="let link of project.links; let i = index">
            <ng-container *ngIf="i !== 0"> |</ng-container>
            <a class="link" [href]="link.link" target="_blank">{{ link.title }}</a>
          </ng-container>
        </p>
      </div>
    </div>
  </div>

  <div class="images">
    <h2>Images</h2>
    <div class="container">
      <ng-container *ngFor="let image of project.imageUrls">
        <img (click)="openZoom(image)" [src]="image" alt="Image">
      </ng-container>
    </div>
  </div>

  <div class="contact-me" (click)="openContactModal()">
    <p>Let's talk - Wanna get in touch or talk about a project? Feel free to <strong>contact me</strong>.</p>
  </div>
</div>
