#toTopBtn {
  transition: all 0.3s ease-in-out;

  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  width: 4rem;
  height: 4rem;

  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  background: white;
  box-shadow: 0 4px 9px #445964;

  @media screen and (max-width: 768px) {
    bottom: 100px;
  }

  img {
    height: 55%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.home {
  position: relative;
  display: flex;
  width: calc(100% - 20rem);
  min-height: calc(100vh - 6rem - 5rem);
  padding: 4.5rem 10rem 0;
  color: #445964;

  .code {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20rem;
    transform: rotateY(180deg);
  }

  .me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 40%;
    padding: 5rem 0;
    margin-right: 3rem;

    span {
      font-size: 1.3rem;
    }

    h1 {
      margin: 0.5rem 0;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 2.5rem;
    }

    .social {
      img {
        margin-right: 1rem;
        height: 2rem;
      }
    }
  }

  .about {
    padding: 7rem 0;

    p {
      font-size: 1.9rem;
      margin: 0;
    }
  }
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20rem);
  min-height: calc(100vh - 5rem);
  padding: 4.5rem 10rem 0;
  color: #445964;
  margin-bottom: 2rem;

  .header {
    display: flex;
    margin-right: auto;

    h2 {
      margin: 0;
      text-align: left;
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.1;

      &:first-child {
        color: black;
      }
    }

    p {
      text-align: left;
      margin: auto 6rem 0;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }

  .tags {
    display: flex;
    margin: 5rem 0 3rem;

    .tag {
      padding: 0.7rem 1rem;
      font-weight: 900;
      font-size: 1.4rem;
      background: #DFDFDF;
      border-radius: 10px;
      margin: 0 0.5rem;
      cursor: pointer;
      user-select: none;
    }

    .active {
      color: #FFFFFF;
      background: #263138;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .project {
      margin: 0.75rem;
      cursor: pointer;
    }

    .horizontal {
      width: 32rem;
      height: 16rem;
    }

    .vertical {
      width: 14rem;
      height: 25rem;
    }
  }
}

.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20rem);
  min-height: calc(100vh - 5rem);
  padding: 4.5rem 10rem 0;
  color: #445964;

  .header {
    display: flex;
    margin-left: auto;

    p {
      text-align: right;
      margin: auto 6rem 0 0;
      font-weight: bold;
      font-size: 1.4rem;
    }

    h2 {
      margin: 0;
      text-align: right;
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.1;

      &:last-child {
        color: black;
      }
    }
  }

  .positions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 0;

    &--card {
      border-radius: 20px;
      padding: 2rem 1.5rem;
      margin: 2rem;
      width: 25%;
      box-shadow: 0 4px 9px #445964;

      h3 {
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        color: white;
      }

      p {
        color: white;
        text-align: center;
        font-size: 1.3rem;
        margin: 2rem 0;
        white-space: pre-wrap;
      }
    }
  }

  .lower {
    transform: translateY(3rem);
  }

  .quote {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      display: block;
      height: 4rem;
    }

    p {
      text-align: center;
      max-width: 50%;
      font-size: 1.3rem;
    }

    strong {
      font-weight: 900;
      color: #263138;
      font-size: 1.4rem;
    }
  }
}
