<button (click)="topFunction()" id="toTopBtn" class="toTopButton">
  <img src="assets/imgs/arrow-up.svg" alt="Para o topo">
</button>

<div id="home" class="home">
  <img class="code" src="assets/imgs/qrcode.png" alt="Qr Code">

  <div class="me">
    <div>
      <span>Hi,</span>
      <h1>I am passionate about programming and I'd love to develop solutions to your problems</h1>
      <span>Welcome to my portfolio</span>
    </div>

    <app-social></app-social>
  </div>

  <div class="about">
    <p>
      I am <b>Henrique Rodrigues</b>, bachelor in Computer Engineering at Facens, <b>Full Stack Software Engineer</b>
      with <b>+5 years</b> of experience leading a group of more than <b>20 people (techlead)</b>
      and developed more than <b class="redirect" (click)="navigateTo('projects')">40 software</b>.
      Currently working on INDRASOL - ICANotes, an US based companies.
    </p>
  </div>
</div>


<div id="exp" class="experience">
  <div class="header">
    <p>My journey is always<br>developing, learning and innovating</p>
    <div>
      <h2>Professional</h2>
      <h2>Experience</h2>
    </div>
  </div>

  <div class="positions">
    <ng-container *ngFor="let position of listPositions; let i = index">
      <div class="positions--card" [style.background]="position.backgroundColor" [class.lower]="i % 2 === 0">
        <h3>{{ position.name }}</h3>
        <p [innerHTML]="position.description"></p>
      </div>
    </ng-container>
  </div>

  <div class="quote">
    <img src="assets/imgs/quote.svg" alt="Frase">
    <p>
      "The <b>illiterate of the 21st century</b> will not be those who cannot <b>read and write</b>, but those who
      cannot <b>learn, unlearn, and relearn</b>"
    </p>
    <strong>~ Alvin Tofler</strong>
  </div>
</div>

<div id="projects" class="projects">
  <div class="header">
    <div>
      <h2>My</h2>
      <h2>Portfolio</h2>
    </div>
    <p>These are some of the jobs and <br>projects I've developed</p>
  </div>

  <div class="tags">
    <ng-container *ngFor="let tag of listTags">
      <div class="tag" [class.active]="currentTag === tag" (click)="filterProjectByTag(tag)">
        <span>{{ tag }}</span>
      </div>
    </ng-container>
  </div>

  <div class="list">
    <ng-container *ngFor="let project of listProjectsAux">
      <div class="project"
           [class.horizontal]="project.orientation === projectOrientation.HORIZONTAL"
           [class.vertical]="project.orientation === projectOrientation.VERTICAL"
      >
        <app-project-item [project]="project"></app-project-item>
      </div>
    </ng-container>
  </div>
</div>
