<div id="home" class="home">
  <img class="code" src="assets/imgs/qrcode.png" alt="Qr Code">

  <div class="me">
    <div>
      <span>Olá,</span>
      <h1>Sou apaixonado por programação e adoro desenvolver soluções simples e práticas</h1>
      <span>Seja bem-vindo ao meu portfólio</span>
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/in/henrique-rodrigues7/" target="_blank">
        <img src="assets/imgs/github.svg" alt="Github">
      </a>
      <a href="https://github.com/henrique945" target="_blank">
        <img src="assets/imgs/linkedin.svg" alt="Linkedin">
      </a>
      <a href="https://stackoverflow.com/users/11611128/henrique-rodrigues" target="_blank">
        <img src="assets/imgs/stackoverflow.svg" alt="Stackoverflow">
      </a>
      <a href="https://wa.me/5511971908333" target="_blank">
        <img src="assets/imgs/whatsapp.svg" alt="Whatsapp">
      </a>
    </div>
  </div>

  <div class="about">
    <p>Sou <b>Henrique Rodrigues</b>, graduado na Facens em Engenharia da Computação, participei de uma empresa Júnior na
      Unesp de Rio Claro, e do projeto de Modelagem espacial (Simulation Exploration Experience) em parceria com a NASA.
      Atualmente sou <b>Desenvolvedor Full Stack Especialista e Techlead de um grupo de mais de 20 pessoas no LIGA </b>
      e já tenho mais <b>30 aplicações, entre sites, apps e sistemas, produzidos/desenvolvidos</b>. Também <b>sou
        sócio da Startup Educaprat</b>, plataforma de educação.
    </p>
  </div>
</div>

<div id="exp" class="experience">
  <div class="header">
    <p>Minha jornada está apenas <br>começando, sempre aprendendo e inovando</p>
    <div>
      <h2>Experiência</h2>
      <h2>Profissional</h2>
    </div>
  </div>

  <div class="positions">
    <ng-container *ngFor="let position of listPositions; let i = index">
      <div class="positions--card" [style.background]="position.backgroundColor" [class.lower]="i % 2 === 0">
        <h3 [style.color]="position.fontColor">{{ position.name }}</h3>
        <p>{{ position.description }}</p>
      </div>
    </ng-container>
  </div>

  <div class="quote">
    <img src="assets/imgs/quote.svg" alt="Frase">
    <p>"Os <b>analfabetos do próximo século</b> não são aqueles que não sabem <b>ler ou escrever</b>, mas aqueles que se
      recusam a <b>aprender, reaprender e voltar a aprender</b>"
    </p>
    <strong>~ Alvin Tofler</strong>
  </div>
</div>
