/* You can add global styles to this file, and also import other style files */

* {
  font-family: monospace;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 6px;
    background: rgba(68, 89, 100, 0.2) 0 0 no-repeat padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-color) 0 0 no-repeat padding-box;
  }
}

.d-flex {
  display: flex;
}

:root {
 --primary-color: #445964;
}
