/* You can add global styles to this file, and also import other style files */
@import 'app/themes/modal';

* {
  font-family: monospace;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 6px;
    background: rgba(68, 89, 100, 0.2) 0 0 no-repeat padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-color) 0 0 no-repeat padding-box;
  }

  a {
    outline: none;
  }
}

:root {
  --primary-color: #445964;
  --secondary-color: #263138;
}

.toTopButton {
  transition: all 0.3s ease-in-out;

  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  width: 4rem;
  height: 4rem;

  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  background: white;
  box-shadow: 0 4px 9px var(--primary-color);

  @media screen and (max-width: 768px) {
    bottom: 50px;
  }

  img {
    height: 55%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.05);
  }
}
